%h3
  Drain Cleaning Instructions
%ul
  %li
    Be mindful of road traffic and keep an eye out for cars, trucks, and bicycles when clearing your drain. Work from the sidewalk as much as possible.
  %li
    Clear any debris that is directly blocking your storm drain, and clear an area a few feet around the drain to remove anything that could get swept in or block the drain. This might include leaves, sticks, snow, or trash.
  %li
    Wear gloves or use a rake or broom to clear the drain, and use caution when picking up debris.
  %li
    Dispose of trash or recyclables as you would normally, in their appropriate bins. Organic material like leaves and sticks can be disposed of with your yard waste. Visit <a target="_blank" href=" https://www.medfordma.org/departments/department-of-public-works/"> Medford’s trash and recycling page </a> if you have questions about how to dispose of anything you clear out of your drain.
  %li
    Never try to remove the grate or reach inside the storm drain.
  %li
    Be sure to check your drain around major weather events - before and after it rains, or after a snow storm.
  %li
    Check if your drain has a label saying “No Dumping, Drains to River.” If it doesn’t, let us know if you’d like to help out and add one by contacting the Office of Energy & Environment at <a href="mailto:enviro@medford-ma.gov">enviro@medford-ma.gov</a>.
  %li
    If anything appears to be broken, or you have any concerns about your drain, please report non-emergency issues via <a target="_blank" href=" https://www.medfordma.org/mayor/online-request-for-city-service"> SeeClickFix </a> or contact Medford Department of Public Works at 781-393-2417.
  %li
    Please contact <a href="mailto:enviro@medford-ma.gov">enviro@medford-ma.gov</a> with any other questions about the program or stormwater in general.

  %em
    Remember, the City of Medford won't be held responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!

%h3
  Contact Us
%p
  Email questions and feedback to <a target="_blank" href="mailto: enviro@medford-ma.org"> enviro@medford-ma.org</a>. We'd love to hear from you!

= render :partial => "sidebar/guidelines"
