<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "logos/adopt-a-drain.png", :alt => "adopt-a-drain logo", :title => "adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Thank you for adopting one of Medford’s catch basins/storm drains! By keeping this drain free of leaves and debris, you are joining your neighbors in helping to protect the Mystic River and Lakes, manage stormwater, and minimize flooding.
  </p>

  <h2 style="font-size: 1.05em">How to Care For Your Adopted Drain</h2>

  <ul>
    <li>
      If possible, clear your drain before and after it rains.
    </li>
    <li>
      Clear about 10 feet around your drain, removing anything that could get swept in or clog the drain, including leaves, trash, and snow.
    </li>
    <li>
      Dispose of trash or recyclables as you would normally, in their appropriate bins. Organic material like leaves and sticks can be disposed of with your yard waste. Visit <a href="http://www.medfordma.org/2019/12/17/2020-waste-management-trash-recycling-schedule/"> Medford’s trash and recycling page </a> if you have questions about how to dispose of debris.
    </li>
    <li>
      Medical waste or needles? Construction debris? Drain clogged below the grate? Report it using <a href="https://www.medfordma.org/seeclickfix/">SeeClickFix</a> or contact the Medford Department of Public Works at 781-393-2417.
    </li>
  </ul>

  <h2 style="font-size: 1.05em">Drain Cleaning Safety Tips</h2>

  <ul>
    <li>
      Never try to lift the drain grate.
    </li>
    <li>
      Clear from the sidewalk, not the street.
    </li>
    <li>
      Wear reflective clothing so vehicles can see you.
    </li>
    <li>
      Always wear gloves and be very careful of sharp objects.
    </li>
    <li>
      Use a rake, broom, or shovel - not your hands.
    </li>
  </ul>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag "adoptadrain-event.png", :alt => "adopt-a-drain event", :title => "adopt-a-drain event" %>
        <p style="font-style: italic; font-size: 10px;">
          Adopt a Drain VIP event
        </p>
      </td>
    </tr>
  </table>

  <p>
    Visit <a href="https://medfordenergy.org/gogreen/">gogreenmedford.org</a> to learn more about environmental efforts taking place in Medford. You can also find us on <a href="https://www.facebook.com/GoGreenMedford">Facebook</a>, <a href="https://www.instagram.com/gogreenmedford/?hl=en">Instagram</a>, or <a href="https://twitter.com/GoGreenMedford">Twitter</a>. Contact <a href="mailto:enviro@medford-ma.gov">enviro@medford-ma.gov</a> or call 781-393-2137 with any questions. 
  </p>

  <p>
    Thanks again for adopting a Medford drain!
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    City of Medford
  </p>

  <p>
    <em>
     Remember, the City of Medford is not responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please let us know by unclaiming it on <a href="adoptadrain-medfordma.org">adoptadrain-medfordma.org</a>. Thank you!
  </p>

</td></tr></table>
